{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="container thanks">
        <div class="row">
            <div class="col-xs-12">
                <h1>Thank You for Contacting Us</h1>
                {{ page.content }}
            </div>
        </div>
    </div>
{% endblock %}
