
.full_width_carousel_wrapper {
  overflow: hidden;
  max-height: 650px;
  position: relative;
}
.full_width_carousel_wrapper > .carousel-inner > .item > img,
.full_width_carousel_wrapper > .carousel-inner > .item > a > img {
  opacity: 0.9;
  margin: auto;
  width: 100% !important;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.full_width_carousel_control_left,
.full_width_carousel_control_right {
  top: 50%;
  z-index: 2;
  opacity: 0;
  width: 55px;
  height: 55px;
  border: none;
  text-align: center;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.full_width_carousel_wrapper:hover .full_width_carousel_control_left,
.full_width_carousel_wrapper:hover .full_width_carousel_control_right {
  opacity: 0.7;
}
.full_width_carousel_control_icons {
  line-height: 50px;
  font-size: 34px !important;
  font-weight: normal !important;
}
.full_width_carousel_control_left {
  left: 1% !important;
}
.full_width_carousel_control_right {
  right: 1% !important;
}
/*---------- CAPTION ----------*/
.full_width_carousel_caption {
  left: 10%;
  z-index: 1;
  width: 35%;
  bottom: 45%;
  text-shadow: none;
  text-align: center;
  padding: 20px 20px 20px 20px;
  font-family: 'Raleway', sans-serif;
}
.full_width_carousel_caption_right {
  left: 56%;
}
.full_width_carousel_caption_center {
  left: 15%;
  width: 70%;
}
.full_width_carousel_caption h2 {
  font-size: 30px;
  margin: 0px 0px 15px 0px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-timing-function: cubic-bezier(.65,1.95,.03,.32);
  animation-timing-function: cubic-bezier(.65,1.95,.03,.32);
}
.full_width_carousel_caption h1 {
  font-size: 45px;
  font-weight: 800;
  margin: 0px 0px 40px 0px;
  text-transform: none;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(.65,1.95,.03,.32);
  animation-timing-function: cubic-bezier(.65,1.95,.03,.32);
}
.full_width_carousel_button_colored,
.full_width_carousel_button_colored:visited {
  outline: 0;
  width: auto;
  height: 44px;
  border: none;
  margin: 0 10px;
  padding: 0 23px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  text-align: left;
  text-shadow: none;
  line-height: 44px;
  position: relative;
  font-style: normal;
  white-space: nowrap;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none !important;
  font-family: 'Raleway', sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing:initial !important;
  -moz-box-sizing:initial !important;
  box-sizing:initial !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: color 0.3s ease-in-out 0s;
  transition: color 0.3s ease-in-out 0s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-timing-function: cubic-bezier(.65,1.95,.03,.32);
  animation-timing-function: cubic-bezier(.65,1.95,.03,.32);
}
.full_width_carousel_button_colored:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
  position: absolute;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out 0s;
  transition: transform 0.3s ease-in-out 0s;
}
.full_width_carousel_button_colored:hover,
.full_width_carousel_button_colored:active,
.full_width_carousel_button_colored:focus {
  box-shadow: none;
  outline: none !important;
}
.full_width_carousel_button_colored:hover:before,
.full_width_carousel_button_colored:focus:before,
.full_width_carousel_button_colored:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px) {
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .full_width_carousel_control_left,
  .full_width_carousel_control_right {
    border: none;
  }
  .full_width_carousel_control_icons {
    font-size: 18px !important;
  }
  /*---------- CAPTION ----------*/
  .full_width_carousel_caption {
    left: 0%;
    width: 100%;
    bottom: 5%;
    padding: 5px 5px 5px 5px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
  .full_width_carousel_caption h2 {
    font-size: 20px;
    margin: 0px 0px 10px 0px;
  }
  .full_width_carousel_caption h1 {
    font-size: 25px;
    margin: 0px 0px 10px 0px;
    text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
  }
  .full_width_carousel_button_colored,
  .full_width_carousel_button_colored:visited {
    margin: 0 0;
    height: 34px;
    padding: 0 13px;
    line-height: 34px;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .full_width_carousel_control_left,
  .full_width_carousel_control_right {
    border: none;
  }
  /*---------- CAPTION ----------*/
  .full_width_carousel_caption {
    left: 0%;
    bottom: 5%;
    width: 100%;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px) {
  /*---------- CAPTION ----------*/
  .full_width_carousel_caption {
    left: 0%;
    bottom: 15%;
    width: 100%;
  }
}

/*---------- MEDIA 768px - 991px ----------*/
@media (min-width: 768px) and (max-width: 991px) {
  /*---------- CAPTION ----------*/
  .full_width_carousel_caption {
    bottom: 20%;
  }
}

/*---------- MEDIA 992px - 1250px ----------*/
@media (min-width: 992px) and (max-width: 1250px) {
  /*---------- CAPTION ----------*/
  .full_width_carousel_caption {
    bottom: 25%;
  }
}


/*---------- MEDIA 992px - 1250px ----------*/
@media (min-width: 1251px) and (max-width: 1960px) {
  /*---------- CAPTION ----------*/
  .full_width_carousel_caption {
    bottom: 60%;
  }
}


/*---------- MEDIA 1961+px ----------*/
@media (min-width: 1961px) {
  /*---------- CAPTION ----------*/
  .full_width_carousel_caption {
    bottom: 63%;
  }
}




/*------------------------------------------------------*/
/* COLORS (ORANGE)
/*------------------------------------------------------*/

.full_width_carousel_wrapper {
  background: $black;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.full_width_carousel_control_left,
.full_width_carousel_control_left:hover,
.full_width_carousel_control_left:active,
.full_width_carousel_control_left:focus,
.full_width_carousel_control_right,
.full_width_carousel_control_right:hover,
.full_width_carousel_control_right:active,
.full_width_carousel_control_right:focus {
  color: $white;
  background: $core-accent !important;
}
/*---------- CAPTION ----------*/
.full_width_carousel_caption h2,
.full_width_carousel_caption h1 {
  color: $white;
}
.full_width_carousel_button_colored,
.full_width_carousel_button_colored:visited {
  color: $white;
}
.full_width_carousel_button_colored:hover,
.full_width_carousel_button_colored:active,
.full_width_carousel_button_colored:focus {
  color: $white !important;
}
.full_width_carousel_button_colored,
.full_width_carousel_button_colored:visited {
  background: $black;
}
.full_width_carousel_button_colored:hover,
.full_width_carousel_button_colored:active,
.full_width_carousel_button_colored:focus {
  background: $black !important;
}
.full_width_carousel_button_colored:before {
  background: $core-accent;
}

/*---------- MEDIA QUERIES ----------*/
@media only screen and (max-width: 600px) {
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .full_width_carousel_control_left,
  .full_width_carousel_control_right,
  .full_width_carousel_control_left:hover,
  .full_width_carousel_control_left:active,
  .full_width_carousel_control_left:focus,
  .full_width_carousel_control_right:hover,
  .full_width_carousel_control_right:active,
  .full_width_carousel_control_right:focus	{
    background: transparent !important;
  }
}
/*---------- END ----------*/